{% extends 'based.html' %}

{% block header %}
  <h1>{% block title %}Test - messages{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" class="container">
    <div class="container">
      <image src="{{ session['streamer_avatar'] }}" height="64px" width="64px">
      <div id="label-username">{{ session.streamer_name }}</div>
    </div>
    <div class="container" id="table-container">
        <table class="container">
            {% for i in range(13) %}
            <tr>

              <th class="table-letter">
                {{ session.alpha[i] }}
              </th>
              <th class="table-user">
                <input class="table-input" name="{{ session.alpha[i] }}-usr" id="{{ session.alpha[i] }}-usr">
              </th>

              <th class="table-letter">
                {{ session.bet[i] }}
              </th>
              <th class="table-user">
                <input class="table-input" name="{{ session.bet[i] }}-usr" id="{{ session.bet[i] }}-usr">
              </th>

            </tr>
            {% endfor %}
        </table>
        <div id="table-submit">
          <input id="submit-start" type="submit" value="Result">
        </div>
    </div>
  </form>
{% endblock %}