{% extends 'based.html' %}

{% block header %}
  <h1 id="header-title">{% block title %}ABC Szczura{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div id="loading-gif" class="container">
    <image src="{{ url_for('static', filename='img/loading.gif') }}" id="joel">
    <label>Ładowanie statystyk. Zwykle trwa do 30 sekund.</label>
  </div>
  <form class="container" method="post" id="form-to-hide">

    <label for="username" id="label-username">Podaj nazwę kanału</label>

    <div class="container" id="form-input">
      <input name="username" id="username" maxlength="25">
      <input id="submit-start" type="submit" value="Start">
    </div>

    <label id="label-info">Streamelements daje dostęp do statystyk kanału tylko w trakcie streama, więc upewnij się że ta osoba właśnie streamuje.</label>

    <div></div>

    <div id="form-fill"></div>

  </form>
  
<script>
  const submit_start = document.getElementById('submit-start');

  submit_start.addEventListener('click', () => {
    const form_to_hide = document.getElementById('form-to-hide');
    const loading_gif  = document.getElementById('loading-gif');

    if (form_to_hide.style.display !== 'none') {
      form_to_hide.style.display = 'none';
      loading_gif.style.display = 'flex';
    }
  });

  
</script>
{% endblock %}