{% extends 'based.html' %}

{% block header %}
  <h1>{% block title %}Test{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="container">
      <image src="{{ session['streamer_avatar'] }}" height="64px" width="64px">
      <div id="label-username">{{ session.streamer_name }}</div>
    </div>
    <div class="container" id="form-input">
      <input id="submit-mode-1" type="submit" name="messages" value="Messages">
      <input id="submit-mode-2" type="submit" name="watchtime" value="Watchtime">
      <input id="submit-mode-3" type="submit" name="points" value="Points">
    </div>
  </form>
{% endblock %}