{% extends 'based.html' %}

{% block header %}
  <h1 id="header-title">{% block title %}Emotomat{% endblock %}</h1>
{% endblock %}

{% block content %}

    <form class="container" method="post">
        <div class="container" id="slots-container">
            <div id="slots-panel-left"></div>
            <div id="slots">
                <img id="slots-machine" src="{{url_for('static', filename='img/4x/4x-slots-no-lever.png')}}">
                <img id="slots-lever"    src="{{url_for('static', filename='img/empty.png')}}">
                <button id="slots-lever-button" type="button"></button>
                <div class="container" id="slots-background">
                    <div class="slot" id="slot-1">
                    </div>
                    <div class="slot" id="slot-2"></div>
                    <div class="slot" id="slot-3"></div>
                </div>
                <audio id="lever-down-audio">
                    <source src="{{url_for('static', filename='aud/lever-start.mp3')}}" type="audio/mpeg">
                </audio>
                <audio id="slot-spin-audio">
                    <source src="{{url_for('static', filename='aud/slot-spin.mp3')}}" type="audio/mpeg">
                </audio>
                <audio id="slot-stop-audio">
                    <source src="{{url_for('static', filename='aud/slot-stop.mp3')}}" type="audio/mpeg">
                </audio>
                <audio id="lever-up-audio">
                    <source src="{{url_for('static', filename='aud/lever-stop.mp3')}}" type="audio/mpeg">
                </audio>
                <audio id="jackpot-audio">
                    <source src="{{url_for('static', filename='aud/jackpot.mp3')}}" type="audio/mpeg">
                </audio>
            </div>
            <div id="slots-panel-right"></div>
        </div>
        <div id="form-fill"></div>
    </form>

    <script>
        const slots_time            = 10;
        var lever_status            = 'up';
        var lever_pull_time         = 0;
        var audio_playing           = 0;
        const lever_button          = document.getElementById('slots-lever-button');
        const lever                 = document.getElementById('slots-lever');
        const slots_lever_start_aud = document.getElementById('lever-down-audio');
        const slot_spin_aud         = document.getElementById('slot-spin-audio');
        const slot_stop_aud         = document.getElementById('slot-stop-audio');
        const slots_lever_stop_aud  = document.getElementById('lever-up-audio');
        const jackpot_aud           = document.getElementById('jackpot-audio');

        lever_button.addEventListener('mouseover', () => {
            if(lever_status == 'up'){
                lever.style.backgroundImage = "url({{url_for('static', filename='img/4x/4x-slots-lever-up-hover.png')}})";
            }
        });
        lever_button.addEventListener('mouseleave', () => {
            if(lever_status == 'up'){
                lever.style.backgroundImage = "url({{url_for('static', filename='img/4x/4x-slots-lever-up.png')}})";
            }
        });

        lever_button.addEventListener('click', () => {
            slots_lever_start_aud.play();

            requestAnimationFrame(loop);

            lever_status                = 'down';
            lever_pull_time             = new Date().getTime();
            lever_button.style.display  = 'none';
            lever.style.backgroundImage = "url({{url_for('static', filename='img/4x/4x-slots-lever-down.png')}})";
            slot_spin_aud.currentTime   = 0;
            slot_stop_aud.currentTime   = 0;
            slot_spin_aud.play();
            slot_stopped = [false, false, false];
            var played_1 = false;
            var played_2 = false;
            var x = setInterval(function() {
                if(slot_stopped[0] && !played_1){
                    slot_stop_aud.play();
                    played_1 = true;
                }
                if(slot_stopped[1] && !played_2){
                    slot_stop_aud.play();
                    played_2 = true;
                }
                if(slot_stopped[2]){
                    slot_stop_aud.play();
                    clearInterval(x);
                    if("{{session['jackpot']}}" == 'true')
                        jackpot_aud.play();
                }
            }, 50);
        });
    </script>
    <script>
        const emotes = ["{{url_for('static', filename='img/clueless.png')}}",
                        "{{url_for('static', filename='img/aware.png')}}",
                        "{{url_for('static', filename='img/greenlight.png')}}",
                        "{{url_for('static', filename='img/yellowlight.png')}}",
                        "{{url_for('static', filename='img/redlight.png')}}"]

        const slotElement = [document.getElementById('slot-1'),
                             document.getElementById('slot-2'),
                             document.getElementById('slot-3')];

        //const slot_1 = document.getElementById('slot-1');
        //const slot_2 = document.getElementById('slot-2');
        //const slot_3 = document.getElementById('slot-3');

        const velocity              = 0.1;
        const max_velocity          = 1;
        const animationT            = 10000; //ms = 10s
        const slot_stopT            = [3200, 5400, 9300];
        //const slot_1_stopT          = 3200;
        //const slot_2_stopT          = 6400;
        //const slot_3_stopT          = 9600;

        var animation_time          = 0;
        var last_frameT             = 0;
        var acceleration            = 0.9;
        var distance_left           = 0;

        // make arrays
        var slot_emote_id           = [3, 3, 3];
        //var slot_1_emote_id         = 3;
        //var slot_2_emote_id         = 3;
        //var slot_3_emote_id         = 3;
        var slot_stopped            = [false, false, false];
        //var slot_1_stopped          = false;
        //var slot_2_stopped          = false;
        //var slot_3_stopped          = false;
        var stopping_slot           = [true, true, true];
        //var stopping_slot_1         = true;
        //var stopping_slot_2         = true;
        //var stopping_slot_3         = true;
        var drawn_emote_insert      = [false, false, false];
        //var drawn_emote_1_insert    = false;
        //var drawn_emote_2_insert    = false;
        //var drawn_emote_3_insert    = false;
        var drawn_emote_id          = [-1, -1, -1];
        //var drawn_emote_1_id        = 0;
        //var drawn_emote_2_id        = 0;
        //var drawn_emote_3_id        = 0;

        
        function calcSize(top_pos){
            var size = '104px 104px';

            if(top_pos < -52){
                size = '52px 52px';
            }
            else if(top_pos < 52){
                var length = Math.round((top_pos + 52) / 2) + 52;
                size = length + 'px ' + length + 'px';
            }
            else if(top_pos == 52){
                size = '104px 104px';
            }
            else if(top_pos < 156){
                var length = Math.round((156 - top_pos) / 2) + 52;
                size = length + 'px ' + length + 'px';
            }
            else{
                size = '52px 52px';
            }

            return size;
        }

        function createEmoteElement(slot, id, top_pos, img_url){
            var size = calcSize(top_pos);
        
            var emote_div = document.createElement("div");
        
            emote_div.id                        = 'slot-emote-' + id;
            emote_div.className                 = 'slot-emote';
            emote_div.style.position            = 'absolute';
            emote_div.style.top                 = top_pos + 'px';
            emote_div.style.backgroundImage     = 'url(' + img_url + ')';
            emote_div.style.backgroundSize      = size;
            emote_div.style.backgroundPosition  = 'center';
            emote_div.style.backgroundRepeat    = 'no-repeat';
            //emote_div.style.backgroundColor = col;
            //emote_div.innerHTML             = id;

            slot.appendChild(emote_div);
        }
        
        function slotSetup(slot){
            for(let i = 0; i < 3; i++){
                //var pos = -156 + i * 104;
                var pos = 52 - i * 104;
                createEmoteElement(slot, i, pos, emotes[i]);
            }
        }
        
        function moveSlot(slot, slot_id, deltaT){
            var add_emote_flag    = true;
            var remove_emote_flag = false;

            var slot_children = Array.from(slot.children);


            if(drawn_emote_insert[slot_id]){
                slot_children.forEach(child => {
                    if(parseInt(child.id.match(/\d/g).join("")) == drawn_emote_id[slot_id]){
                        distance_left = 52.0 - parseFloat(child.style.top);
                    }
                });
            }

            slot_children.forEach(child => {
                var top_tmp = child.style.top;
                var step = (velocity + acceleration) * deltaT;
                
                if(drawn_emote_insert[slot_id] && drawn_emote_id[slot_id] != -1){
                    if(step > distance_left){
                        step = distance_left;
                        stopping_slot[slot_id] = false;
                    }
                }
                
                top_tmp = parseFloat(top_tmp) + step;


                if(top_tmp <= -26.0)
                    add_emote_flag = false;
                if(top_tmp >= 286.0)
                    remove_emote_flag = true;

                child.style.backgroundSize  = calcSize(top_tmp);
                child.style.top             = top_tmp + 'px';
            });

            if(add_emote_flag){
                if(drawn_emote_insert[slot_id] && drawn_emote_id[slot_id] == -1)
                    drawn_emote_id[slot_id] = slot_emote_id[slot_id];
                
                createEmoteElement(slot, 
                                   slot_emote_id[slot_id]++, 
                                   parseFloat(slot.lastChild.style.top) - 104, 
                                   emotes[slot_emote_id[slot_id] % 5]);
            }
            if(remove_emote_flag){
                slot.removeChild(slot.children[0]);
            }

            if(velocity + acceleration < max_velocity)
                acceleration += 0.0001 * deltaT;
            else
                acceleration = 0.9;
        }

        slotSetup(slotElement[0]);
        slotSetup(slotElement[1]);
        slotSetup(slotElement[2]);
        

        function loop(){
            var now = new Date().getTime();
            if(last_frameT == 0)
                deltaT = 0;
            else
                deltaT = now - last_frameT;

            animation_time += deltaT;
            if(animation_time > animationT){
                animation_time = 0;
                acceleration   = 0.9;
                last_frameT    = 0;
                slot_spin_aud.pause();
                lever.style.backgroundImage = "url({{url_for('static', filename='img/4x/4x-slots-lever-up.png')}})";
                lever_button.style.display = 'block';
                lever_status        = 'up';
                audio_playing       = 0;
                slot_stopped        = [false, false, false];
                stopping_slot       = [true, true, true];
                drawn_emote_insert  = [false, false, false];
                drawn_emote_id      = [-1, -1, -1];
                slots_lever_stop_aud.play();
                return;
            }
            
            for(let i = 0; i < 3; i++){
                if(animation_time < slot_stopT[i]){
                    moveSlot(slotElement[i], i, deltaT);
                }
                else{ 
                    if(stopping_slot[i]){
                        drawn_emote_insert[i] = true;
                        moveSlot(slotElement[i], i, deltaT);
                    }
                    else{
                        slot_stopped[i] = true;
                    }
                }
            }

            /*
            if(animation_time < slot_2_stopT){
                slot_2_emote_id = moveSlot(slot_2, 2, slot_2_emote_id, deltaT);
            }
            else{ slot_2_stopped = true; }

            if(animation_time < slot_3_stopT){
                slot_3_emote_id = moveSlot(slot_3, 3, slot_3_emote_id, deltaT);
            }
            else{ slot_3_stopped = true; }            
            */

            last_frameT = new Date().getTime();

            requestAnimationFrame(loop);
        }
    </script>



{% endblock %}