{% extends 'based.html' %}

{% block header %}
  <h1 id="header-title">{% block title %}Emotomat{% endblock %}</h1>
{% endblock %}

<!-- TODO Lego profile -->
<!-- TODO Improve appearance-->

{% block content %}

    <div id="hidden-emotes-container">
        {% for i in range(100) %}
            <div id="hidden-emote-url-{{i}}">
                {% set emote_n = 'svnEmoteId-' + i|string %}
                https://cdn.7tv.app/emote/{{session[emote_n]}}/4x.webp
            </div>
        {% endfor %}
    </div>

    <script>
        var images_to_preload = ["{{ url_for('static', filename='img/4x/4x-slots-bet.png')}}",
                                 "{{ url_for('static', filename='img/4x/4x-slots-jackpot.png')}}",
                                 "{{ url_for('static', filename='img/4x/4x-slots-lever-down.png')}}",
                                 "{{ url_for('static', filename='img/4x/4x-slots-lever-up.png')}}",
                                 "{{ url_for('static', filename='img/4x/4x-slots-lever-up-hover.png')}}",
                                 "{{ url_for('static', filename='img/4x/4x-slots-no-lever.png')}}"];
        
        preloadImages(images_to_preload); 

        var emotes = [];

        for(let i = 0; i < 100; i++){
            var hidden_emote_id = 'hidden-emote-url-' + i.toString();
            var hidden_emote_element = document.getElementById(hidden_emote_id);
            var url = hidden_emote_element.innerHTML;
            emotes.push(url);
        }

        var emotes_img = emotes;
        preloadImages(emotes_img); 

        function preloadImages(array) {
            if (!preloadImages.list) {
                preloadImages.list = [];
            }
            var list = preloadImages.list;
            for (var i = 0; i < array.length; i++) {
                var img = new Image();
                img.onload = function() {
                    var index = list.indexOf(this);
                    if (index !== -1) {
                        // remove image from the array once it's loaded
                        // for memory consumption reasons
                        list.splice(index, 1);
                    }
                }
                list.push(img);
                img.src = array[i];
            }
        }
    </script>


    <form class="container" method="post">
        <div class="container" id="emotomat-container">
            <div class="container" id="slots-panel-left">
                <div id="slots-panel-left-points">{{ session['points'] }}</div>
            </div>
            <div class="container" id="slots-container">
                
                <div id="slots">
                    <div id="mega-jackpot-container"></div>
                    <img id="slots-machine" src="{{url_for('static', filename='img/4x/4x-slots-no-lever.png')}}">
                    <img id="slots-jackpot" src="{{url_for('static', filename='img/4x/4x-slots-jackpot.png')}}">
                    <img id="slots-bet"     src="{{url_for('static', filename='img/4x/4x-slots-bet.png')}}">
                    <img id="slots-lever"   src="{{url_for('static', filename='img/empty.png')}}">
                    <button id="slots-lever-button" type="button"></button>
                    <button id="slots-bet-plus"  type="button"></button>
                    <button id="slots-bet-minus" type="button"></button>
                    <input  id="slots-bet-input" type="number" min="1" max="9999">
                    <div class="container" id="slots-background">
                        <div class="slot" id="slot-1">
                        </div>
                        <div class="slot" id="slot-2"></div>
                        <div class="slot" id="slot-3"></div>
                    </div>
                    <audio id="lever-down-audio">
                        <source src="{{url_for('static', filename='aud/lever-start.mp3')}}" type="audio/mpeg">
                    </audio>
                    <audio id="slot-spin-audio">
                        <source src="{{url_for('static', filename='aud/slot-spin.mp3')}}" type="audio/mpeg">
                    </audio>
                    <audio id="slot-stop-audio">
                        <source src="{{url_for('static', filename='aud/slot-stop.mp3')}}" type="audio/mpeg">
                    </audio>
                    <audio id="lever-up-audio">
                        <source src="{{url_for('static', filename='aud/lever-stop.mp3')}}" type="audio/mpeg">
                    </audio>
                    <audio id="jackpot-audio">
                        <source src="{{url_for('static', filename='aud/jackpot.mp3')}}" type="audio/mpeg">
                    </audio>
                </div>
            </div>
            <div class="container" id="slots-panel-right">
                <div>test</div>
            </div>
        </div>
        <div id="form-fill"></div>
    </form>
    

    <script>
        document.getElementById("slots-bet-input").value = "100";
        document.getElementById("slots-bet-input").oninput = function() {
            if (this.value.length > 8) {
                this.value = this.value.slice(0,8); 
            }
        }
        document.querySelector("input").addEventListener("keypress", function (evt) {
            if (evt.which < 48 || evt.which > 57)
            {
                evt.preventDefault();
            }
        });
    </script>
    <!-- <script src="{{url_for('static', filename='scripts/slots.js')}}"> -->
    <script>
        Number.prototype.mod = function (n) {
            "use strict";
            return ((this % n) + n) % n;
        };

        const slotElement = [document.getElementById('slot-1'),
                            document.getElementById('slot-2'),
                            document.getElementById('slot-3')];
        
        const emote_chance          = [100.0, 30.0, 25.0];
        const emote_count           = {{session['svnEmoteCount']}};
        const velocity              = 1;
        const max_velocity          = 1;
        const animationT            = 10000;              // ms = 10s
        const slot_stopT            = [2800, 5600, 9300]; // 3200 5400 9300

        var animation_time          = 0;
        var last_frameT             = 0;
        var acceleration            = 0.9;                // nie używane
        var distance_left           = 0;

        var slot_emote_id           = [3, 3, 3];
        var slot_stopped            = [false, false, false];
        var stopping_slot           = [true, true, true];
        var drawn_emote_insert      = [false, false, false];
        var drawn_emote_id          = [-1, -1, -1];
        var winning_emote_id        = [0, 0, 0];
        var drawn_emote_created     = [false, false, false];
        var jackpot                 = false;
        var megajackpot             = 0;
        var bet_error               = 'None';


        var lever_status            = 'up';
        var lever_pull_time         = 0;
        var audio_playing           = 0;
        const lever_button          = document.getElementById('slots-lever-button');
        const lever                 = document.getElementById('slots-lever');

        const slots_lever_start_aud = document.getElementById('lever-down-audio');
        const slot_spin_aud         = document.getElementById('slot-spin-audio');
        const slot_stop_aud         = document.getElementById('slot-stop-audio');
        const slots_lever_stop_aud  = document.getElementById('lever-up-audio');
        const jackpot_aud           = document.getElementById('jackpot-audio');

        const bet_plus              = document.getElementById("slots-bet-plus");
        const bet_minus             = document.getElementById("slots-bet-minus");
        const bet_input             = document.getElementById("slots-bet-input");

        const points_panel          = document.getElementById('slots-panel-left-points');
        const bet_url               = {{ url_for('emotomat.bet')|tojson }};
        var bet_val                 = 100000;
        var points                  = {{ session['points'] }};

        lever_button.addEventListener('mouseover', () => {
            if(lever_status == 'up'){
                lever.style.backgroundImage = "url({{url_for('static', filename='img/4x/4x-slots-lever-up-hover.png')}})";
            }
        });
        lever_button.addEventListener('mouseleave', () => {
            if(lever_status == 'up'){
                lever.style.backgroundImage = "url({{url_for('static', filename='img/4x/4x-slots-lever-up.png')}})";
            }
        });

        bet_plus.addEventListener('click', () => {
            var val = 0;
            if(bet_input.value){
                val = parseInt(bet_input.value);
            }

            if(val < 100){
                val = val + 10 - val % 10;
            }
            else if(val < 1000){
                val = val + 100 - val % 100;
            }
            else if(val < 10000){
                val = val + 1000 - val % 1000;
            }
            else if(val < 100000){
                val = val + 10000 - val % 10000;
            }
            else{
                val = val + 50000 - val % 10000;
            }
            bet_input.value = val;
        });
        bet_minus.addEventListener('click', () => {
            var val = 0;
            if(bet_input.value){
                val = parseInt(bet_input.value);
            }

            if(val <= 100){
                val = val - (10 + val % 10);
            }
            else if(val <= 1000){
                val = val - (100 + val % 100);
            }
            else if(val <= 10000){
                val = val - (1000 + val % 1000);
            }
            else if(val <= 100000){
                val = val - (10000 + val % 10000);
            }
            else{
                val = val - (50000 + val % 10000);
            }
            if(val < 0){ val = 0; }
            bet_input.value = val;
        });

        lever_button.addEventListener('click', () => {
            slots_lever_start_aud.play();

            bet_val = parseInt(bet_input.value);

            points_panel.innerHTML = points - bet_val;
            jackpot                     = false;
            let bet_data = {
                "user_id": 0,
                "bet_value": bet_val,
            }

            fetch(bet_url, {
                "method": "POST",
                "headers": {"Content-Type": "application/json"},
                "body": JSON.stringify(bet_data),
            }).then(response => response.json())
                .then(json => {
                        winning_emote_id    = json['winning_emote_id'];
                        points              = json['points'];
                        jackpot             = json['jackpot'];
                        megajackpot         = json['megajackpot'];
                        bet_error           = json['bet_error'];
                    });

            //drawWinningEmotes();

            requestAnimationFrame(loop);

            lever_status                = 'down';
            lever_pull_time             = new Date().getTime();
            lever_button.style.display  = 'none';
            lever.style.backgroundImage = "url({{url_for('static', filename='img/4x/4x-slots-lever-down.png')}})";
            slot_spin_aud.currentTime   = 0;
            slot_stop_aud.currentTime   = 0;
            slot_spin_aud.play();
            slot_stopped = [false, false, false];
            var played_1 = false;
            var played_2 = false;
            var x = setInterval(function() {
                if(slot_stopped[0] && !played_1){
                    slot_stop_aud.play();
                    played_1 = true;
                }
                if(slot_stopped[1] && !played_2){
                    slot_stop_aud.play();
                    played_2 = true;
                }
                if(slot_stopped[2]){
                    slot_stop_aud.play();
                    clearInterval(x);
                    points_panel.innerHTML = points;
                    if(jackpot)
                        jackpot_aud.play();
                }
            }, 50);
        });

        function drawWinningEmotes(){
            winning_emote_id[0] = Math.floor(Math.random() * emote_count);
            if((Math.random() * 100.0) > (100.0 - emote_chance[1])){
                winning_emote_id[1] = winning_emote_id[0];
            }else{
                winning_emote_id[1] = (winning_emote_id[0] + Math.floor(Math.random() * emote_count)) % emote_count;
            }

            if((Math.random() * 100.0) > (100.0 - emote_chance[2])){
                winning_emote_id[2] = winning_emote_id[1];
            }else{
                winning_emote_id[2] = (winning_emote_id[1] + Math.floor(Math.random() * emote_count)) % emote_count;
            }

            if(winning_emote_id[0] == winning_emote_id[1] 
            && winning_emote_id[1] == winning_emote_id[2]){
                jackpot = true;
                megajackpot++;
            }
            else{
                megajackpot = 0;
            }
        }

        function calcSize(top_pos){
            var size = '104px 104px';

            if(top_pos < -52){
                size = '52px 52px';
            }
            else if(top_pos < 52){
                var length = Math.round((top_pos + 52) / 2) + 52;
                size = length + 'px ' + length + 'px';
            }
            else if(top_pos == 52){
                size = '104px 104px';
            }
            else if(top_pos < 156){
                var length = Math.round((156 - top_pos) / 2) + 52;
                size = length + 'px ' + length + 'px';
            }
            else{
                size = '52px 52px';
            }

            return size;
        }

        function createEmoteElement(slot, id, top_pos, img_url){
            var size = calcSize(top_pos);

            var emote_div = document.createElement("div");

            emote_div.id                        = 'slot-emote-' + id;
            emote_div.className                 = 'slot-emote';
            emote_div.style.position            = 'absolute';
            emote_div.style.top                 = top_pos + 'px';
            emote_div.style.backgroundImage     = 'url(' + img_url + ')';
            emote_div.style.backgroundSize      = size;
            emote_div.style.backgroundPosition  = 'center';
            emote_div.style.backgroundRepeat    = 'no-repeat';
            //emote_div.style.backgroundColor = col;
            //emote_div.innerHTML             = id;

            slot.appendChild(emote_div);
        }

        function slotSetup(slot){
            for(let i = 0; i < 3; i++){
                //var pos = -156 + i * 104;
                var pos = 52 - i * 104;
                createEmoteElement(slot, i, pos, emotes[i]);
            }
        }

        function moveSlot(slot, slot_id, deltaT){
            var add_emote_flag    = true;
            var remove_emote_flag = false;

            var slot_children = Array.from(slot.children);


            if(drawn_emote_insert[slot_id]){
                slot_children.forEach(child => {
                    if(parseInt(child.id.match(/\d/g).join("")) == drawn_emote_id[slot_id]){
                        distance_left = 52.0 - parseFloat(child.style.top);
                    }
                });
            }

            slot_children.forEach(child => {
                var top_tmp = child.style.top;
                var step = velocity * deltaT;
                
                if(drawn_emote_insert[slot_id] && drawn_emote_created[slot_id]){
                    if(step > distance_left){
                        step = distance_left;
                        stopping_slot[slot_id] = false;
                    }
                }
                
                top_tmp = parseFloat(top_tmp) + step;


                if(top_tmp <= -26.0)
                    add_emote_flag = false;
                if(top_tmp >= 286.0)
                    remove_emote_flag = true;

                child.style.backgroundSize  = calcSize(top_tmp);
                child.style.top             = top_tmp + 'px';
            });

            if(add_emote_flag){
                var emote_url = emotes[slot_emote_id[slot_id] % 100]
                if(drawn_emote_insert[slot_id] && !drawn_emote_created[slot_id]){
                    drawn_emote_id[slot_id] = slot_emote_id[slot_id];
                    drawn_emote_created[slot_id] = true;
                    emote_url = emotes[winning_emote_id[slot_id]];
                }
                createEmoteElement(slot, 
                                    slot_emote_id[slot_id]++, 
                                    parseFloat(slot.lastChild.style.top) - 104, 
                                    emote_url);
            }
            if(remove_emote_flag){
                slot.removeChild(slot.children[0]);
            }

            //if(velocity + acceleration < max_velocity)
            //    acceleration += 0.0001 * deltaT;
            //else
            //    acceleration = 0.9;
        }

        slotSetup(slotElement[0]);
        slotSetup(slotElement[1]);
        slotSetup(slotElement[2]);


        function loop(){
            var now = new Date().getTime();
            if(last_frameT == 0)
                deltaT = 0;
            else
                deltaT = now - last_frameT;

            animation_time += deltaT;
            if(animation_time > animationT || bet_error != 'None'){
                points_panel.innerHTML = points
                animation_time = 0;
                acceleration   = 0.9;
                last_frameT    = 0;
                slot_spin_aud.pause();
                lever.style.backgroundImage = "url({{url_for('static', filename='img/4x/4x-slots-lever-up.png')}})";
                lever_button.style.display = 'block';
                lever_status        = 'up';
                audio_playing       = 0;
                slot_stopped        = [false, false, false];
                stopping_slot       = [true, true, true];
                drawn_emote_insert  = [false, false, false];
                drawn_emote_created = [false, false, false];
                slots_lever_stop_aud.play();
                return;
            }
            
            for(let i = 0; i < 3; i++){
                if(animation_time < slot_stopT[i]){
                    moveSlot(slotElement[i], i, deltaT);
                }
                else{ 
                    if(stopping_slot[i]){
                        drawn_emote_insert[i] = true;
                        moveSlot(slotElement[i], i, deltaT);
                    }
                    else{
                        slot_stopped[i] = true;
                    }
                }
            }

            last_frameT = new Date().getTime();

            requestAnimationFrame(loop);
        }
    </script>

{% endblock %}