:root{
    --img-border: rgb(236, 56, 176);
    --col-1: #40334f;
    --col-2: #5c5e63;
    --col-3: #58595e;
    --col-4: #484a4f;
    --col-5: #2b2631;
    --col-6: #8d8f94;
    --col-7: #181818;
    --backgroud: #371B58;
    
    /*--col-7: #4C3575;*/
    --col-8: #5B4B8A;
    --col-9: #7858A6;
    --col-10: #e0abe7;
    --col-11: #5b29a0;
    --col-12: #f7acac;

}
html,
body {
    margin: 0;
    background-color: var(--backgroud);
    height: 100%;
    overflow: hidden;
}

#container {
    height: 100%;
}

#body-container {
    flex-direction: row;
    flex-grow: 1;
}

#body-side-fill {
    width: 35%;
    flex-grow: 1;
}

#body-content {
    width: 100%;
    background-color: var(--col-5);
    max-height: 100vh;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#body-content::-webkit-scrollbar {
    display: none;
}

nav {
    position: sticky;
    top: 0;
    background-color: var(--col-7);
    border-bottom: 4px solid var(--col-11);
}

a {
    margin: auto;
    font: 1.5em sans-serif;
    text-decoration: none;
    color: var(--col-10);
}

#nav-bar {
    z-index: 1;
    flex-direction: row;
    justify-content: left;
}

#nav-menu {
    font-weight:bold;
    font-size: small;
    flex-grow: 2;
    flex-direction: row;
    justify-content: right;
    align-items: end;
}

#nav-menu-fill {
    flex-grow: 2;
}

#nav-menu-item {
    margin-right: 2%;
}

#nav-bar-image {
    margin: none;
    height: 40px;
    width: 60px;
    border: none;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

img {
    width: 128px;
    height: 128px;
    margin: auto;
    border-radius: 50%;
    border: 4px solid rgb(190, 190, 190);
}


h1 {
    margin: 10px;
}

h2 {
    margin: auto;
}

header {
    padding-top: 2%;
    padding-bottom: 2%;
    font: 1.5em sans-serif;
    color: rgb(240, 213, 250);
    border-bottom: 2px solid var(--col-11);
}

label {
    padding: 1%;
    font: 1.2em sans-serif;
    color: rgb(240, 213, 250);
    background-color: var(--col-5);
    margin-left: auto;
    margin-right: auto;
}

#label-username {
    color: white;
    font: 1.5em sans-serif;
}

#label-info {
    padding-left: 10%;
    padding-right: 10%;
    color: rgba(255, 255, 255, 0.212);
    font: 1.2em sans-serif;
}

section {
    height: 100%;
    border-left: 2px solid var(--col-11);
    border-right: 2px solid var(--col-11);
}

form {
    justify-content: space-between;
    flex-grow: 1;
    border-bottom: 2px solid var(--col-11);
    height: 100%;
}

#form-fill {
    flex-grow: 1;
}

#form-input {
    flex-direction: row;
    justify-content:space-between;
    margin-top: 4%;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#form-avatar {
    height: auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

footer {
    flex-direction: row;
    height: 5%;
}

#ft-text {
    width: auto;
}

#username {
    outline: none;
    background-color: var(--col-7);
    color: white;
    font: 1.5em sans-serif;
    height: 1.2em;
    width: 100%;
    border-radius: 0%;
    border: none;
    border-bottom: 2px solid var(--col-11);
}

#submit-start {
    margin-left: 4%;
    width: 26%;
    height: 100%;
    border-width: 0;
    /*border-radius: 5px;*/
    border-color: green;
    background-color: green;
    font: 1em sans-serif;
    color: white;
}

#submit-mode-1 {
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 4%;
    margin-right: 4%;
    width: 26%;
    height: 100%;
    border-width: 0;
    /*border-radius: 5px;*/
    border-color: green;
    background-color: green;
    color: white;
    font: 1.5em sans-serif;
}

#submit-mode-2 {
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 4%;
    margin-right: 4%;
    width: 26%;
    height: 100%;
    border-width: 0;
    /*border-radius: 5px;*/
    border-color: rgb(34, 1, 184);
    background-color: rgb(34, 1, 184);
    color: white;
    font: 1.5em sans-serif;
}

#submit-mode-3 {
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 4%;
    margin-right: 4%;
    width: 26%;
    height: 100%;
    border-width: 0;
    /*border-radius: 5px;*/
    border-color: rgb(156, 0, 0);
    background-color: rgb(156, 0, 0);
    color: white;
    font: 1.5em sans-serif;
}

#submit-table {
    width: 26%;
    height: 100%;
    /*border-radius: 5px;*/
    background-color: rgba(255, 255, 255, 0);
    border-width: 1;
    border-style: solid;
    border-color: green;
    font: 1em sans-serif;
    color: green;
}
#submit-table:hover {
    color: white;
}
#submit-table:active {
    color: gray;
}


.flash {
    border-radius: 5px;
    margin: 5%;
    padding: 1%;
    color: white;
    background-color: rgba(255, 0, 0, 0.61);
    font: 1.2em sans-serif;
}

#rec-title {
    z-index: 1;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: var(--col-5);
    border-bottom: 2px solid var(--col-11);
    color: var(--col-10);
    /*color: rgb(205, 255, 125);*/
    font: 1.5em sans-serif;
}

#rec-content {
    max-height: 100%;
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
}

.rec-chan {
    margin: 0;
    vertical-align: middle;
    width: 100%;
    border-top: 2px solid var(--col-11);
    /*border-bottom: 2px solid var(--col-11);*/
    color: red;
    text-shadow: 0px 1px orange;/*rgb(177, 177, 177);*/
}

.recommendations {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 0;
    width: 100%;
    height: 100%;
    /*margin: 0 auto;*/
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    animation: scroll 40s linear infinite;
}


@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}


#table-container {
    flex-grow: 1;
    height: auto;
    justify-content: space-between;
}

#table-row {
    margin-left: 2%;
    margin-right: 2%;
    flex-direction: row;
    justify-content: center;
    border-bottom: 4px solid var(--col-11);
    border-right: 6px solid var(--col-11);
}

#table-row-first {
    width: auto;
    margin-left: 2%;
    margin-right: 2%;
    flex-direction: row;
    justify-content: center;
    border-bottom: 4px solid var(--col-11);
    border-right: 6px solid var(--col-11);
    border-top: 4px solid var(--col-11);
}

#table-col {
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: flex-start;
}

.table-letter {
    width: 6%;
    padding: 1%;
    background-color: var(--col-7);
    color: white;
    font: 1.2em sans-serif;
    border-left: 4px solid var(--col-11);
}

.table-user {
    padding: 0;
    width: 100%;
    /*padding-bottom: 2px;*/
}

.table-input {
    height: 100%;
    width: 100%;
    padding: 0;
    outline: none;
    background-color: var(--col-7);
    color: white;
    font: 1.6em sans-serif;
    top: 0;
    left: 0;
    border-radius: 0%;
    border: none;
    border-bottom: 2px solid var(--col-11);
    border-bottom: 0px;
    border-left: 2px solid var(--col-11);
}

#table-submit {
    height: 20%;
}

#loading-gif {
    flex-grow: 1;
    border-bottom: 2px solid var(--col-11);
    padding-bottom: 20%;
    display: none;
}

#joel {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    border: none;
    width: 80%;
    height: auto;
}