@font-face {
    font-family: 'Armitage';
    src: local('Armitage Bold'), local('Armitage-Bold'),
        url('fonts/Armitage/Armitage-Bold.woff2') format('woff2'),
        url('fonts/Armitage/Armitage-Bold.woff') format('woff'),
        url('fonts/Armitage/Armitage-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

:root{
    --img-border: rgb(236, 56, 176);
    --col-1: #40334f;
    --col-2: #5c5e63;
    --col-3: #58595e;
    --col-4: #484a4f;
    --col-5: #2b2631;
    --col-6: #1818187c;
    --col-7: #181818;
    --backgroud: #371B58;
    
    /*--col-7: #4C3575;*/
    --col-8: #5B4B8A;
    --col-9: #7858A6;
    --col-10: #e0abe7;
    --col-11: #5b29a0;
    --col-12: #f7acac;

    --submit-start : green;
    --submit-table : green;
    --mode-1: red;
    --mode-2: green;
    --mode-3: blue;


}
html,
body {
    margin: 0;
    background-color: var(--backgroud);
    height: 100%;
    overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

#container {
    height: 100%;
}

#body-container {
    height: calc(100% - 65px);
    flex-direction: row;
    flex-grow: 1;
}

#body-left-panel {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 20%;
}
#body-right-panel {
    display: block;
    width: 20%;
    height: 100%;
    overflow-y: hidden;
    /*flex-grow: 1;
    max-width: 35%;*/
    min-width: 20%;
    justify-content: flex-start;
    > #leaderboard {
        height: calc(100% - 3.022vh - 3px - 11px);
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        justify-content: flex-start;
        flex-shrink: 0;
        /*> #lb-row {
            height: 4vh;
            background-color: #707070b2;
            border: 2px solid var(--col-5);
            border-bottom: 0;
            flex-direction: row;
            justify-content: space-between;
            > #lb-avatar { 
                position: relative;
                width: 4vh;
                height: 100%;
                flex-shrink: 0;
                > img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 3.8vh;
                    height: 3.8vh;
                    padding: 0.1vh;
                    border: 0;
                    border-radius: 0;
                }
            }
            > #lb-avatar:hover {
                > #profile-avatar-image {
                    background-image: url('img/empty.png');
                    
                }
            }
            > #lb-username {
                width: calc(100% - 4vh - 15.7vh - 5px);
                flex-grow: 0;
                /*max-width: 50%;
                justify-content: center;
                overflow: hidden;
                > span {
                    font: 2.4vh sans-serif;
                    color: white;
                }
            }
            > #lb-points {
                font-size: 2.6vh;
                /*min-width: 15.7vh;
                padding-right: 0.5vh;
                width: auto;
                flex-shrink: 0;
                flex-grow: 2;
                text-align: left;
            }
            > #stud {
                width: 3.6vh;
                height: 4vh;
                flex-shrink: 0;
                > img {
                    padding: 0.6vh;
                    padding-right: 0.2vh;
                    width: 2.8vh;
                    height: 2.8vh;
                    border: 0;
                    border-radius: 0;
                }
            }
        }*/
    }
}

#body-content {
    width: 100%;/*calc(60% - 4px);*/
    height: 100%;
    background-color: var(--col-5);
    /*max-height: 100vh;
    overflow: auto;*/
    justify-content: flex-start;
    /*border-right: 2px solid var(--col-11);*/
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#body-content::-webkit-scrollbar {
    display: none;
}
/*
#body-content::-webkit-scrollbar {
    width: 16px;
    height: 40px;
    background-color: rgb(0, 183, 255);
}
#body-content::-webkit-scrollbar-thumb {
    width: 40px;
    background: url('img/dollar-scrollbar.png');
    background-position: center bottom, center -10px;
    background-size: 20px;
}
#body-content::-webkit-scrollbar-button:single-button {
    height: 16px;
    background: url('img/wallet.png');
    background-position: center top;
    background-size: 16px;
}*/

nav {
    position: sticky;
    top: 0;
    background-color: var(--col-7);
    border-bottom: 4px solid var(--col-11);
}

a {
    margin: auto;
    font: 1.5em sans-serif;
    text-decoration: none;
    color: var(--col-10);
}

#nav-bar {
    z-index: 1;
    flex-direction: row;
    justify-content: left;
}

#nav-menu {
    font-weight:bold;
    font-size: small;
    flex-grow: 2;
    flex-direction: row;
    justify-content: right;
    align-items: end;
    > #mode-container > a {
        border-left: 2px solid var(--col-11);
        > img {
            width: calc(64px + 4vw);
            height: 64px;
            background-size: 64px 64px;
            background-position: center;
            background-repeat: no-repeat;
        }
        > #zarabiaj {
            background-size: 48px 48px;
        }
        > #zarabiaj:hover {
            background-size: 48px 48px;
        }
    }
    > #mode-container:last-child {
        border-right: 2px solid var(--col-11);
    }
}

#nav-menu-fill {
    flex-grow: 2;
}

#nav-menu-item {
    margin-right: 2%;
}

#nav-bar-image {
    margin: none;
    height: 40px;
    width: 60px;
    border: none;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

img {
    width: 16vh;
    height: 16vh;
    margin: auto;
    border-radius: 50%;
    border: 0.6vh solid rgba(226, 72, 247, 0.459);
}


h1 {
    margin: auto;
}

h2 {
    margin: auto;
}

header {
    height: 12vh;
    max-height: 12vh;
    margin-bottom: 3vh;
    font: 3vh sans-serif;
    color: rgb(240, 213, 250);
    border-bottom: 2px solid var(--col-11);
    border-top: 1px solid var(--col-11);
    flex-grow: 2;
}

#header {
    flex-direction: row;
    padding: 0;
    margin-bottom: 1vh;
    > #panel-control {
        flex-direction: column;
        justify-content: flex-start;
        > button {
            width: 24px;
            height: 24px;
            border: 0;
            margin: 0;
            padding: 0;
            background-color: #ffffff00;
        }
        > #hide-right-panel{
            background-size: 24px 24px;
            background-image: url('img/hide-right-panel.png');
        }
        > #hide-right-panel:hover{
            background-image: url('img/hide-right-panel_hover.png');
        }
        > #hide-left-panel{
            background-size: 24px 24px;
            background-image: url('img/hide-left-panel.png');
        }
        > #hide-left-panel:hover{
            background-image: url('img/hide-left-panel_hover.png');
        }
        > #leaderboard-right-panel{
            background-size: 24px 24px;
            background-image: url('img/cup.png');
        }
        > #leaderboard-right-panel:hover{
            background-image: url('img/cup_hover.png');
        }
    }
    > #header-title {
        height: auto;
        width: auto;
        font: 3vh sans-serif;
    }
}



label {
    padding: 1%;
    font: 1.2em sans-serif;
    color: rgb(240, 213, 250);
    background-color: var(--col-5);
    margin-left: auto;
    margin-right: auto;
}

#label-modes {
    color: rgb(240, 213, 250);
    font: 1.5em sans-serif;
    font-weight: bold;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

#label-username {
    color: rgb(240, 213, 250);
    font: 1.5em sans-serif;
    font-weight: bold;
}
#label-password {
    color: rgb(240, 213, 250);
    font: 1.5em sans-serif;
    font-weight: bold;
}

#label-info {
    padding-left: 10%;
    padding-right: 10%;
    color: rgba(255, 255, 255, 0.212);
    font: 1.2em sans-serif;
}

section {
    flex-shrink: 0;
    height: 100%;
    border-left: 2px solid var(--col-11);
    border-right: 2px solid var(--col-11);
    justify-content: flex-start;
    /*overflow: scroll;*/
}

form {
    justify-content: space-between;
    border-bottom: 2px solid var(--col-11);
    height: 100%;
}

#section-game {
    height: 100vh;
}

#form-fill {
    flex-grow: 1;
}

#form-input {
    flex-direction: row;
    justify-content:space-between;
    margin-top: 4%;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#form-avatar {
    height: 20vh;
    padding-top: 1em;
    padding-bottom: 1em;
    /*margin-top: 2.5%;
    margin-bottom: 2.5%;*/
    > #avatar-timer {
        flex-direction: row;
        > #avatar-fill {
            height: auto;
            width: 10vw;
            margin-top: 0;
            margin-bottom: auto;
            margin-left: 2vw;
        }
        > #timer {
            height: auto;
            width: 10vw;
            margin-top: 0;
            margin-bottom: auto;
            margin-right: 2vw;
            font: 2.8vh sans-serif;
            color: #d4d4d4;
            text-align: right;
        }
    }
}

#form-login {
    justify-content: center;
    > #form-login-input {
        justify-content: center;
        > input {
            width: 60vh;
            margin: auto;
            margin-bottom: 2vh;
        }
    }
    > #submit-login {
        width: 20vh;
        height: 6vh;
        margin: auto;
        margin-top: 3vh;
        margin-bottom: 5vh;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid var(--submit-start);
        font: 1em sans-serif;
        color: white;
    }
    > #submit-login:hover {
        background-color: rgba(255, 255, 255, 0.05);
        color: white;
    }
    > #submit-login:active {
        color: gray;
    }
    > a {
        width: 20vh;
        height: 6vh;
        margin-top: 3vh;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid blue;
        font: 1em sans-serif;
        color: white;
    }
    > a:hover {
        background-color: rgba(255, 255, 255, 0.05);
        color: white;
    }
}

#form-register {
    justify-content: center;
    > #form-register-input {
        justify-content: center;
        > input {
            width: 60vh;
            margin: auto;
            margin-bottom: 2vh;
        }
    }
    > #submit-register {
        width: 20vh;
        height: 6vh;
        margin: auto;
        margin-top: 3vh;
        margin-bottom: 5vh;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid var(--submit-start);
        font: 1em sans-serif;
        color: white;
    }
    > #submit-register:hover {
        background-color: rgba(255, 255, 255, 0.05);
        color: white;
    }
    > #submit-register:active {
        color: gray;
    }
    > a {
        width: 20vh;
        height: 6vh;
        margin-top: 3vh;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid blue;
        font: 1em sans-serif;
        color: white;
    }
    > a:hover {
        background-color: rgba(255, 255, 255, 0.05);
        color: white;
    }
}


.text-input {
    outline: none;
    background-color: var(--col-7);
    color: white;
    font: 1.5em sans-serif;
    height: 1.2em;
    width: 100%;
    border-radius: 0%;
    border: none;
    border-bottom: 2px solid var(--col-11);
}

#submit-start {
    margin-left: 4%;
    width: 26%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid var(--submit-start);
    font: 1em sans-serif;
    color: white;
}
#submit-start:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
}
#submit-start:active {
    color: gray;
}

#submit-mode-1 {
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 4%;
    margin-right: 4%;
    width: 26%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid var(--mode-1);
    color: var(--mode-1);
    font: 1.5em sans-serif;
}
#submit-mode-1:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
}
#submit-mode-1:active {
    color: gray;
}

#submit-mode-2 {
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 4%;
    margin-right: 4%;
    width: 26%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid var(--mode-2);
    color: var(--mode-2);
    font: 1.5em sans-serif;
}
#submit-mode-2:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
}
#submit-mode-2:active {
    color: gray;
}

#submit-mode-3 {
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 4%;
    margin-right: 4%;
    width: 26%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid var(--mode-3);
    color: var(--mode-3);
    font: 1.5em sans-serif;
}
#submit-mode-3:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
}
#submit-mode-3:active {
    color: gray;
}

#submit-table {
    width: 20vw;
    height: 100%;
    /*border-radius: 5px;*/
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid var(--submit-table);
    border-width: 1;
    border-style: solid;
    border-color: var(--submit-table);
    font: 3vh sans-serif;
    color: var(--submit-table);
}
#submit-table:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
}
#submit-table:active {
    color: gray;
}


.flash {
    border-radius: 5px;
    margin: 5%;
    padding: 1%;
    color: white;
    background-color: rgba(255, 0, 0, 0.61);
    font: 1.2em sans-serif;
}
.flash#good {
    background-color: rgba(94, 255, 0, 0.61);
}
.flash#info {
    background-color: rgba(109, 109, 109, 0.61);
}

.panel-title {
    position: sticky;
    z-index: 1;
    padding-top: 0.6vh;
    padding-bottom: 0.6vh;
    height: 3.022vh;
    background-color: var(--col-5);
    border-top: 1px solid var(--col-11);
    border-bottom: 2px solid var(--col-11);
    color: var(--col-10);
    /*color: rgb(205, 255, 125);*/
    font: 2.6vh sans-serif;
}

#rec-content {
    max-height: 100%;
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
}

.rec-chan {
    display: flex;
    margin: 0;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    border-top: 2px solid var(--col-11);
    /*border-bottom: 2px solid var(--col-11);*/
    > a {
        color: red;
        text-shadow: 0px 1px orange;/*rgb(177, 177, 177);*/
        margin: auto;
    }
}
.rec-chan:has(a:hover) {
    background-color: #ffffff09;
}

.recommendations {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 0;
    width: 100%;
    height: 100%;
    /*margin: 0 auto;*/
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    animation: scroll 40s linear infinite;
}


@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

.table {
    height: auto;
}

#table-container {
    flex-grow: 1;
    justify-content: flex-start;
    height: 100%;
    /*min-height: fit-content;*/
    min-height: none;
    overflow: auto;
}

#table-row {
    height: 3.2vh;
    width: auto;
    margin-left: 2%;
    margin-right: 2%;
    flex-direction: row;
    justify-content: flex-start;
    /*border-bottom: 4px solid var(--col-11);
    border-right: 6px solid var(--col-11);*/
    border-bottom: 0.2vw solid var(--col-11);
    border-right: 0.3vw solid var(--col-11);
}

#table-row-first {
    height: 3.2vh;
    width: auto;
    margin-left: 2%;
    margin-right: 2%;
    flex-direction: row;
    justify-content: center;
    /*border-bottom: 4px solid var(--col-11);
    border-right: 6px solid var(--col-11);
    border-top: 4px solid var(--col-11);*/
    border-bottom: 0.2vw solid var(--col-11);
    border-right: 0.3vw solid var(--col-11);
    border-top: 0.2vw solid var(--col-11);
}

#table-col {
    width: 100%;
    height: 3.2vh;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: flex-start;
}

.table-letter {
    width: 3vh;
    height: 3vh;
    padding: 0.1vh;
    background-color: var(--col-7);
    color: white;
    font: 2.6vh sans-serif;
    /*border-left: 4px solid var(--col-11);*/
    border-left: 0.2vw solid var(--col-11);
}

.table-user {
    padding: 0;
    width: 100%;
    height: 3.2vh;
}

.table-input {
    height: 100%;
    width: 100%;
    padding: 0;
    outline: none;
    background-color: var(--col-7);
    color: white;
    font: 1.6em sans-serif;
    top: 0;
    left: 0;
    border-radius: 0%;
    border: none;
    /*border-bottom: 2px solid var(--col-11);
    border-bottom: 0px;
    border-left: 2px solid var(--col-11);*/
    border-left: 0.15vw solid var(--col-11);
}

#table-submit {
    height: 5vh;
    padding-top: 1em;
    padding-bottom: 1em;
    flex-shrink: 0;
}

#result-container {
    flex-direction: row;
    padding-bottom: 1vh;
    border-bottom: 2px solid var(--col-11);
    > #result-info {
        margin-left: 2vw;
        margin-right: 2vw;
        color: white;
        font: 1.8vh sans-serif;

        > #result-image {
            height: 10vh;
            width: 10vh;
            border-width: 0.4vh;
            margin-left: auto;
            margin-right: auto;
        }
        /*> h1 {
            font: 3.2vh sans-serif;
            > a {
                font: 3.2vh sans-serif;
                font-weight: bold;
                color: rgb(255, 216, 40);
            }
        } Old score*/
    }
    > #result-message-score {
        width: 100%;
        margin-left: 2vw;
        margin-right: 2vw;
        flex-direction: column;
        > #result-message {
            color: white;
            font: 2.4vh sans-serif;
        }
        > #result-score {
            position: relative;
            margin: 1vh;
            margin-bottom: 0;
            height: 3vh;
            border: 5px solid var(--col-11);
            border-radius: 9px;
            background-color: rgba(223, 174, 252, 0.562);
            > #score-bar {
                position:absolute;
                top: 0;
                z-index: 0;
                height: 100%;
                background-color: rgba(209, 247, 42, 0.582);
                border: 2px transparent;
                border-radius: 5px;
                animation: score-bar 5s linear;
            }
            > #score-val {
                position: absolute;
                align-self: center;
                top: 0;
                left:auto;
                width: 100%;
                z-index: 2;
                font: 2.8vh sans-serif;
                color:#181818;
            }
        }
    }
}
@keyframes score-bar {
    0% {
        max-width: 0%;
    }
    100% {
        max-width: 100%;
    }
}

#table-result{
    --user-exact:  green;
    --user-close:  orange;
    --user-far:    red;
    --user-empty:  black;
    --user-unknown:gray;
    border-collapse: collapse;
    border-right: 0.2vw solid var(--col-11);
    overflow: auto;
    > tbody {
        height: 100%;
        width: 100%;
        > #table-row-first {
            height: 4.2vh;
            position: sticky;
            top: 0;
            z-index: 2;
            margin:0;
            border-top: 0;
            border-right: 0;
            border-left: 0;
            > #table-result-user {
                color: white;
                font-weight: normal;
            }
        }
        > #table-row {
            margin:0;
            border-right: 0;
            border-left: 0;
        }
        > tr {
            --height: 6.8vh;

            /*height: var(--height);*/
            height: fit-content;
            background-color: var(--col-7);
            /*border-right: 0.2vw solid var(--col-11);*/

            > th {
                height: var(--height);
                margin: 0;
                padding: 0;
                > a.a-user {
                    font: 1.8vh sans-serif;
                    color: rgba(226, 154, 255, 0.966);
                    /*color: rgb(23, 122, 14);*/
                    font-weight: bold;
                }
                > a.a-value {
                    font: 1.8vh sans-serif;
                    /*color: rgba(226, 154, 255, 0.966);*/
                    color: rgb(222, 255, 130);
                    font-weight: bold;
                }
            }
            > #table-result-point {
                height: calc(var(--height)-0.2vh);
                width: 6.4vh;
                flex-shrink: 0;
                color: white;
                font: 1.8vh sans-serif;
                /*border-left: 0.2vw solid var(--col-11);*/
                > img {
                    border: 0;
                    border-radius: 0;
                    width: 16px;
                    height: 16px;
                }
            }
            > #table-result-letter {
                width: 5.2vh;
                height: calc(var(--height)-0.2vh);
                padding: 0.1vh;
                flex-shrink: 0;
                color: white;
                font: 1.8vh sans-serif;
                border-left: 0.2vw solid var(--col-11);
            }
            > #table-result-user {
                height: calc(var(--height)-0.2vh);
                width: 11.2vh;
                flex-shrink: 0;
                color: white;
                font: 1.8vh sans-serif;
                border-left: 0.2vw solid var(--col-11);
                word-wrap: break-word;
            }
            > #table-result-info {
                height: calc(var(--height)-0.2vh);
                width: 100%;
                color: white;
                font: 1.8vh sans-serif;
                border-left: 0.2vw solid var(--col-11);
            }
            > #table-result-message {
                text-align: center;
                height: auto;
                width: 100%;
                padding: 0.8vh;
                padding-top: 1.8vh;
                padding-bottom: 1.8vh;
                color: rgba(255, 255, 255);
                font: 1.8vh sans-serif;
                border-left: 0.2vw solid var(--col-11);
            }
        }
        > tr:nth-child(odd) {
            background-color: var(--col-7);
        }
        > tr:nth-child(even) {
            background-color: var(--col-6);
        }
    }
}
#table-result-form {
    height: 16vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border-right: 0.2vw solid var(--col-11);
    border-bottom: 0;
    > #table-result-submit {
        height: 4vh;
        width:auto;
        padding: auto;
        margin: auto;
        background-color: rgba(255, 255, 255, 0);
        color: var(--submit-start);
        font: 2vh sans-serif;
        border: 1px solid var(--submit-start);
    }
    > #table-result-submit:hover {
        background-color: rgba(255, 255, 255, 0.05);
        color: white;
    }
    > #table-result-submit:active {
        color: gray;
    }
}

#table-profile-stats {
    width: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
    > tbody {
        > tr {
            width: 100%;
            flex-direction: row;
            justify-content: flex-start;
            border-left: 0.2vw solid var(--col-11);
            border-right: 0.2vw solid var(--col-11);
            > th {
                height: 4.2vh;
                padding: 0.1vh;
                /*color: white;*/
                font-size: 2.6vh;
            }
            > #row-name {
                flex-grow: 1;
                width: 50%;
            }
            > #row-value {
                width: 50%;
            }
        }
        > tr:nth-child(odd) {
            background-color: var(--col-7);
        }
        > tr:nth-child(even) {
            background-color: var(--col-6);
        }
        > #table-row-emotomat-label {
            border-top: 0.2vw solid var(--col-11);
            border-bottom: 0.2vw solid var(--col-11);
        }
        > #table-row-emotomat-points {
            > #row-value {
                font-family: Armitage;
                color: rgb(255, 195, 24);
                text-shadow: 1px  1px 0 black,
                            -1px  1px 0 black,
                            -1px -1px 0 black,
                             1px -1px 0 black;
            }
        }
        > #table-row-emotomat-lost {
            border-bottom: 0.2vw solid var(--col-11);
        }
        > #table-row-abc-label {
            margin-top: 5vh;
            border-top: 0.2vw solid var(--col-11);
            border-bottom: 0.2vw solid var(--col-11);
        }
        > #table-row-abc-time {
            border-bottom: 0.2vw solid var(--col-11);
        }
        > #table-row-svn-label {
            margin-top: 5vh;
            border-top: 0.2vw solid var(--col-11);
            border-bottom: 0.2vw solid var(--col-11);
            background-color: var(--col-7);
        }
        > #table-row-svn-profile {
            height: 4.2vh;
            border-bottom: 0.2vw solid var(--col-11);
            background-color: var(--col-6);
            > #row-button {
                width: 4.2vh;
                height: 100%;
                padding: 0;
                > button {
                    height: 100%;
                    border: 0;
                    padding: 0;
                    background-color: #00000000;
                    font: 3vh sans-serif;
                    color: #c2c2c2;
                }
                >button:hover {
                    /*background-color: #ffffff34;*/
                    color: #f8f8f8;
                }
            }
            > #row-name {
                flex-grow: 1;
                /*width: calc((100% - 4.2vh) * 3.8 / 10);*/
                width: calc(50% - 8.4vh);
                padding-right: 4.2vh;
            }
            > #row-value {
                /*width: calc((100% - 4.2vh) * 5.2 / 10);*/
                width: 50%;
            }
        }
        > #table-row-svn-add {
            height: 4.2vh;
            display: none;
            border-bottom: 0.2vw solid var(--col-11);
            background-color: var(--col-6);
            > #row-name {
                width: 75%;
                height: auto;
                > input {
                    padding: 0;
                    border: 0;
                    height: 100%;
                    width: 100%;
                }
            }
            > #row-value {
                width: 25%;
                height: 100%;
                padding: 0;
                > button {
                    height: 100%;
                    border: 0;
                    padding: 0;
                    background-color: #00000000;
                    font: 3.8vh sans-serif;
                    color: #c2c2c2;
                }
                >button:hover {
                    background-color: #ffffff34;
                    color: #f8f8f8;
                }
            }
        }
    }
}

#loading-gif {
    height: 100%;
    border-bottom: 2px solid var(--col-11);
    /*padding-bottom: 20%;*/
    display: none;
}

#joel {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    border: none;
    width: 80%;
    height: auto;
}


footer {
    border-top: 2px solid var(--col-11);
    flex-direction: row;
    height: 5%;
    > #ft-text {
        font: 2vh sans-serif;
        color: white;
        width: auto;
    }
}



#info-body {
    height: 100%;
    > h1 {
        font: 3vh sans-serif;
        color: rgba(255, 255, 255, 0.781);
        margin: 0.4vh;
    }
    > #info-text {
        font: 3vh sans-serif;
        color: rgba(255, 255, 255, 0.514);
        margin-left: 3vh;
        margin-right: 3vh;
        margin-bottom: 2vh;
        > a {
            font: 3vh sans-serif;
        }
    }
}

#mode-container {
    flex-direction: row;
    > a {
        width: auto;
        height: auto;
        border: 0;
        border-radius: 0;
        outline: none;
        /*flex-direction: row;*/
        position: relative;
        > img, div{
            width: 128px;
            height: 128px;
            background-size: 128px 128px;
            background-position: center;
            background-repeat: no-repeat;
            background-color: #00000000;
            border: 0;
            border-radius: 0;
            outline:none;
        }
        > img:hover, #navbar-username:hover{
            background-color: #a7a7a757;
        }
        > #abc {
            background-image: url('img/abc.png');
        }
        > #abc:hover {
            background-image: url('img/acab.png');
        }
        > #emotomat {
            background-image: url('img/slots-up.png');
        }
        > #emotomat:hover {
            background-image: url('img/slots-down.png');
        }
        > #zarabiaj {
            background-image: url('img/clueless.png');
            background-size: 96px 96px;
        }
        > #zarabiaj:hover {
            background-image: url('img/aware.png');
            background-size: 96px 96px;
        }
        > #kula {
            background-image: url('img/kula-pusta.png');
        }
        > #kula:hover {
            background-image: url('img/kula-pelna.png');
        }
        > #logged-background {
            z-index: 0;
            background-image: url('img/avatar/background_blue_x256.png');
            position: absolute;
            top: 0;
            /*right: 2px;*/
            left: 0;
        }
        > #logged-background:hover {
            background-color: transparent;
        }
        > #logged {
            z-index: 1;
            background-image: url('img/avatar/default.png');
        }
        > #navbar-username {
            display: flex;
            height: 64px;
            width: auto;
            padding-left: 1vw;
            padding-right: 1vw;
            font: 3.4vh sans-serif;
            font-weight: bold;
            /*color: #ffcc23de;*/
            color: var(--col-10);
            align-items: center;
            > span {
                text-align: center;
                padding: auto;
                margin: auto;
            }
        }
    }
}
#mode-description-container {
    > label {
        /*color: rgba(255, 255, 255, 0);*/
        display: none;
        color: rgba(255, 255, 255, 0.623);
        text-align:center;
        > h1 {
            color: white;
        }
        > h2 {
            color: white;
            font-size:larger;
        }
        > h3 {
            color: rgba(255, 255, 255, 0.856);
            > span {
                color: rgba(172, 255, 47, 0.808);
            }
        }
        > img {
            border: 0;
            border-radius: 0;
            width: 30vh;
            height: 30vh;
        }
    }
}
#mode-description-container:has(#mode-container > a > #abc:hover) {
    > #abc-description {
        display: flex;
        color: rgba(255, 255, 255, 0.623);
        /*margin: 1vw;
        background-color: #6d33af4d;*/
        border: 5px transparent;
        border-radius: 25px;
    }
}
#mode-description-container:has(#mode-container > a > #emotomat:hover) {
    > #emotomat-description {
        display: flex;
        color: rgba(255, 255, 255, 0.623);
    }
}
#mode-description-container:has(#mode-container > a > #kula:hover) {
    > #kula-description {
        display: flex;
        color: rgba(255, 255, 255, 0.623);
    }
}
#mode-description-container:has(#mode-container > a > #zarabiaj:hover) {
    > #zarabiaj-description {
        display: flex;
        color: rgba(255, 255, 255, 0.623);
    }
}

#emotomat-container {
    flex-direction: row;
    > #slots-panel-left {
        width: 100%;
        max-width: calc((100% - 512px) / 2);
    }
    > #slots-panel-right {
        width: 100%;
        max-width: calc((100% - 512px) / 2);
    }
    > #slots-container {
        > #slots {
            width: 512px;
            height: auto;
            min-height: 512px;
            position: relative;
            top: 0;
            > #mega-jackpot-container {
                height: 512px;
            }
            > img {
                position: absolute;
                top: 0;
                left: 0;
                border: 0;
                border-radius: 0;
                background-size: 512px 512px;
                height: 512px;
                width: 512px;
            }
            > #slots-machine {
                z-index: 1;
            }
            > #slots-lever {
                background-image: url('img/4x/4x-slots-lever-up.png');
                z-index: 2;
            }
            > button {
                z-index: 3;
                position: absolute;
                border: 1px transparent;
                background-color: transparent;
            }
            > #slots-lever-button {
                top: 48px;
                left: 420px;
                height: 56px;
                width: 64px;
                border-radius: 56px;
            }
            > #slots-bet-plus {
                top: 385px;
                left: 348px;
                height: 68px;
                width: 76px;
                border-radius: 20px;
            }
            > #slots-bet-minus {
                top: 385px;
                left: 260px;
                height: 68px;
                width: 76px;
                border-radius: 20px;
            }
            > #slots-bet-minus:hover{
                background-color: #ffffff3a;
            }
            > #slots-bet-plus:hover{
                background-color: #ffffff3a;
            }
            > #slots-bet-input {
                outline: none;
                z-index: 3;
                position: absolute;
                border: 0;
                top: 402px;
                left: 62px;
                height: 32px;
                width: 164px;
                text-align: right;
                color: white;
                font: 4vh sans-serif;
                background-color: transparent;
            }

            > #slots-background {
                z-index: 0;
                position: absolute;
                flex-direction: row;
                justify-content: space-between;
                top: 144px;
                left: 56px;
                background-size: 512px 512px;
                height: 208px;
                width: 356px;
                > .slot {
                    position: relative;
                    height: 208px;
                    width: 104px;
                    margin-left: 10px;
                    margin-right: 10px;
                    background-color: rgb(110, 72, 146);
                    overflow: hidden;
                    > .slot-emote {
                        width: 104px;
                        height: 104px;
                    }
                }
                > #slot-1{
                    margin-left: 0;
                }
                > #slot-3{
                    margin-right: 0;
                    width: 108px;
                    > div {
                        margin-left: 2px;
                        margin-right: 2px;
                    }
                }
            }
        }
    }
}

#form-emotomat {
    > #form-input{
        > .text-input {
            height: 3.2vh;
            width: 33vh;
            font: 2vh sans-serif;
        }
        > #submit-start {
            width: 10vh;
        }
    }
    > #label-info {
        text-align: justify;
        margin: 3vh;
        color: rgba(255, 255, 255, 0.692);
        font: 2.5vh sans-serif;
        > a {
            font: 2.5vh sans-serif;
        }
    }
    > img {
        border: 0;
        border-radius: 0;
        height: 3vw;
        width: 35vw;
        border: 0.2vh solid var(--col-11);
    }
}

#hidden-emotes-container {
    display: none;
    > #hidden-emote-url{
        display: none;
    }
}

#form-profile {
    > #profile-info {
        flex-direction: row;
        justify-content: flex-start;
        > #profile-fill {
            width: calc(50% - 64px);
        }
        > #profile-avatar {
            width: 128px;
            height: 128px;
            position: relative;
            align-self: center;
            > img {
                position: absolute;
                width: 128px;
                height: 128px;
                background-size: 128px 128px;
                background-position: center;
                background-repeat: no-repeat;
                background-color: #00000000;
                border: 0;
                border-radius: 0;
                outline:none;
                left: 0;
                top: 0;
            }
            > #profile-avatar-background {
                background-image: url('img/avatar/background_blue_x256.png');
            }
        }
        > button {
            padding: 0;
            margin-right: 1vh;
            margin-left: calc(50% - 64px - 5vh - 1vh);
            height: 5vh;
            width: 5vh;
            color: #00000000;
            border: 0;
            border-radius: 0;
            background-color: #00000000;
            background-image: url('img/logout.png');
            background-size: 5vh 5vh;
        }
        > button:hover {
            background-image: url('img/logout_red.png');
        }
        > button:active {
            background-image: url('img/logout_dark.png');
        }
    }
}

#form-avatars {
    > #avatar-info {
        flex-direction: row;
        justify-content: flex-start;
        > #avatar-fill, #avatar-points{
            width: calc(50% - 64px);
        }
        > #avatar-choice {
            width: 128px;
            height: 128px;
            position: relative;
            align-self: center;
            > img {
                position: absolute;
                width: 128px;
                height: 128px;
                background-size: 128px 128px;
                background-position: center;
                background-repeat: no-repeat;
                background-color: #00000000;
                border: 0;
                border-radius: 0;
                outline:none;
                left: 0;
                top: 0;
                background-image: url('img/avatar/background_blue_x256.png');
            }
        }
    }
    > #label-avatar-cost {
        font-size: 3.2vh;
        width: auto;
    }
    > #table-avatars {
        > tbody {
            > tr {
                flex-direction: row;
                justify-content: center;
                > th {
                    width: auto;
                    height: auto;
                    > #avatar-container {
                        width: 48px;
                        height: 48px;
                        position: relative;
                        padding: 0;
                        > button {
                            position: absolute;
                            top: 0; left: 0;
                            z-index: 1;
                            width: 48px;
                            height: 48px;
                            padding: 0;
                            border-radius: 50%;
                            background: 0;
                            border: 0;
                            color: transparent;
                            background-size: 48px 48px;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-color: #00000052;
                            background-image: url('img/avatar/locked.png');
                        }
                        > img {
                            position: absolute;
                            top: 0; left: 0;
                            z-index: 0;
                            width: 48px;
                            height: 48px;
                            border: 0;
                            border-radius: 0;
                            background-size: 48px 48px;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                        > .avatar-background {
                            background-image: url('img/avatar/background_brown_x256.png');
                        }
                    }
                    > #avatar-container:hover {
                        > img {
                            top: -8px; left: -8px;
                            z-index: 2;
                            width: 64px;
                            height: 64px;
                            background-size: 64px 64px;
                        }
                        > button {
                            top: -8px; left: -8px;
                            z-index: 3;
                            width: 64px;
                            height: 64px;
                            background-size: 64px 64px;
                            background-color: #00000000;
                            background-image: url('img/avatar/locked_hover.png');
                        }
                    }
                }
            }
        }
    }
}

.studs {
    font-family: Armitage;
    color: rgb(255, 195, 24);
    text-shadow: 1px  1px 0 black,
                -1px  1px 0 black,
                -1px -1px 0 black,
                 1px -1px 0 black;
}

.default-text {
    color: white;
    font-family: sans-serif;
}