{% extends 'based.html' %}

{% block header %}
  <h1 id="header-title">{% block title %}Logowanie{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form class="container" id="form-login" method="post">
    <div class="container" id="form-login-input">
        <label for="username" id="label-username">Nazwa</label>
        <input name="username" class="text-input" id="username" maxlength="32">
        <label for="password" id="label-password">Hasło</label>
        <input type="password" name="password" class="text-input" id="password" maxlength="128">
    </div>
    <input id="submit-login" type="submit" value="Zaloguj">

    <label id="label-info">Logowanie</label>


    <div id="form-fill"></div>

  </form>
  
{% endblock %}