<!doctype html>
<title >{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<div class="container" id="container">
  <nav class="container" id="nav-bar">
    <h1>
      <a href="/"> 
        <div class="container" id="nav-bar">
          <img src="{{ url_for('static', filename='img/wafelki.png') }}" id="nav-bar-image">
          Wafelki
        </div> 
      </a>
    </h1>
    <div class="container" id="nav-menu">
      <a id="nav-menu-fill"></a>
      <div class="container" id="mode-container">
        <a class="container" href="{{ url_for('alfabet.index') }}">
          <img id="abc" src="{{ url_for('static', filename='img/empty.png') }}">
        </a>
        <a class="container" href="{{ url_for('emotomat.index') }}">
          <img id="emotomat" src="{{ url_for('static', filename='img/empty.png') }}">
        </a>
        <a class="container" href="/">
          <img id="zarabiaj" src="{{ url_for('static', filename='img/empty.png') }}">
        </a>
        <a class="container" href="/">
          <img id="kula" src="{{ url_for('static', filename='img/empty.png') }}">
        </a>
        {% if session['user_id'] %}
        <a class="container" href="/auth/login">
          <img id="logged" src="{{ url_for('static', filename='img/empty.png') }}">
          <img id="logged-background" src="{{ url_for('static', filename='img/empty.png') }}">
        </a>
        {% else %}
        <a class="container" href="/auth/login">
          <!-- <img id="not-logged" src="{{ url_for('static', filename='img/empty.png') }}">
          <img id="not-logged-background" src="{{ url_for('static', filename='img/empty.png') }}"> -->
          <div id="navbar-username"><span>Zaloguj</span></div>
        </a>
        {% endif %}
      </div>
    </div>
  </nav>

  <div class="container" id="body-container">
    <div id="body-left-panel">
      <div id="left-title" class="panel-title">Info</div>
        <div id="flash">
          {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="flash" id="{{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
    </div>

    <div class="container" id="body-content">

      <section class="container">
        <header class="container" id="header">
          <div class="container" id="panel-control">
            <button id="hide-left-panel"></button>
          </div>
          {% block header %}{% endblock %}
          <div class="container" id="panel-control">
            <button id="hide-right-panel"></button>
            <button id="leaderboard-right-panel"></button>
          </div>
        </header>
        {% block content %}{% endblock %}
        
        <footer class="container">
          stopa <!-- TODO Add something to footer -->
        </footer>
      </section>

    </div>

    <div class="container" id="body-right-panel">
      {% set rec_channels = ['AlbiSuperBryka', 'Toczkens', 'RaczQ', 'PrawdziwyJezus',
                             'Teskacz', 'Niesamowita Oferta!!!'] %}
      {% set rec_offers = ['https://www.biedronka.pl/pl/biedronkowe-oszczednosci',
                           'https://www.lidl.pl/q/query/wyprzedaz',
                           'https://www.zabka.pl/gazetka-promocyjna/',
                           'https://stokrotka.pl/oferta/gazetki-promocyjne/'] %}
      <div id="right-title" class="panel-title">Polecane Kanały</div>

      <div id="rec-content">

        <div class="recommendations">
            {% for channel in rec_channels %}
              {% if channel == 'Niesamowita Oferta!!!' %}
                {% set href = rec_offers|random %}
              {% else %}
                {% set href = 'https://www.twitch.tv/' + channel %}
              {% endif %}
              <div class="rec-chan">
                <a href="{{ href }}">{{ channel }}</a>
              </div>
            {% endfor %}
        </div>

        <div class="recommendations">
          {% for channel in rec_channels %}
            {% if channel == 'Niezwykła Oferta!!!' %}
              {% set href = rec_offers|random %}
            {% else %}
              {% set href = 'https://www.twitch.tv/' + channel %}
            {% endif %}
            <div class="rec-chan">
              <a href="{{ href }}">{{ channel }}</a>
            </div>
          {% endfor %}
        </div>

      </div>
      <div class="container" id="leaderboard">
      </div>

    </div>
  </div>
</div>
<script>
  const logged_img  = document.getElementById('logged');

  if("{{session.get('avatar_id')}}" == "None"){
    //logged_img.style.backgroundImage = "url({{url_for('static', filename='img/avatar/default.png')}})";
  }
  else{
    {% set avatar_name = 'img/avatar/avatar_' + session.get('avatar_id')|string + '.png' %}
    logged_img.style.backgroundImage = "url({{url_for('static', filename=avatar_name)}})";
  }
</script>
<script src="{{url_for('static', filename='scripts/hidesidepanels.js')}}"></script>
<script src="{{url_for('static', filename='scripts/leaderboardpanel.js')}}"></script>