<!doctype html>
<title >{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<div class="container" id="container">
  <nav class="container" id="nav-bar">
    <h1>
      <a href="{{ url_for('alfabet.index') }}"> 
        <div class="container" id="nav-bar">
          <image src="{{ url_for('static', filename='img/wafelki.png') }}" id="nav-bar-image">
          Wafelki
        </div> 
      </a>
    </h1>
    <div class="container" id="nav-menu">
      <a id="nav-menu-fill"></a>
      <a href="{{ url_for('alfabet.index') }}" id="nav-menu-item"> ABC Szczura </a>
    </div>
  </nav>

  <div class="container" id="body-container">
    <div id="body-left-panel">
        {% for message in get_flashed_messages() %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
    </div>

    <div class="container" id="body-content">

      <section class="container">
        <header class="container" id="header">
          <button id="hide-left-panel">
            <image id="hide-left-panel-img" src="{{ url_for('static', filename='img/hide-left-panel.png') }}">
          </button>
          {% block header %}{% endblock %}
          <button id="hide-right-panel">
            <image id="hide-right-panel-img" src="{{ url_for('static', filename='img/hide-right-panel.png') }}">
          </button>
        </header>
        {% block content %}{% endblock %}
        
        <footer class="container">
          <a href="{{ url_for('alfabet.info') }}"><div id="ft-text">Info</div></a>
        </footer>
      </section>

    </div>

    <div class="container" id="body-right-panel">
      {% set rec_channels = ['AlbiSuperBryka', 'Toczkens', 'RaczQ', 'PrawdziwyJezus',
                             'Teskacz', 'Niesamowita Oferta!!!'] %}
      {% set rec_offers = ['https://www.biedronka.pl/pl/biedronkowe-oszczednosci',
                           'https://www.lidl.pl/q/query/wyprzedaz',
                           'https://www.zabka.pl/gazetka-promocyjna/'] %}
      <div id="rec-title">Polecane Kanały</div>

      <div id="rec-content">

        <div class="recommendations">
            {% for channel in rec_channels %}
              {% if channel == 'Niesamowita Oferta!!!' %}
                {% set href = rec_offers|random %}
              {% else %}
                {% set href = 'https://www.twitch.tv/' + channel %}
              {% endif %}
              <div class="rec-chan">
                <a href="{{ href }}">{{ channel }}</a>
              </div>
            {% endfor %}
        </div>

        <div class="recommendations">
          {% for channel in rec_channels %}
            {% if channel == 'Niezwykła Oferta!!!' %}
              {% set href = rec_offers|random %}
            {% else %}
              {% set href = 'https://www.twitch.tv/' + channel %}
            {% endif %}
            <div class="rec-chan">
              <a href="{{ href }}">{{ channel }}</a>
            </div>
          {% endfor %}
        </div>

      </div>

    </div>
  </div>
</div>
<script>
  const left_panel = document.getElementById('body-left-panel');
  const img_left = document.getElementById('hide-left-panel-img');
  const right_panel = document.getElementById('body-right-panel');
  const img_right = document.getElementById('hide-right-panel-img');
  var bar_status = 0;
  if(parseInt(sessionStorage.getItem('bar status'))){
    bar_status = parseInt(sessionStorage.getItem('bar status'));
    console.log('session', sessionStorage.getItem('bar status'));
  }
  else{
    bar_status = (bar_status === 0) ? bar_status : 0;
    console.log('session', bar_status);
  }
  

  function hideLeft() {
      left_panel.style.display = 'none';
      img_left.style.transform = 'scaleX(-1)';
  }
  function revealLeft() {
      left_panel.style.display = 'flex';
      img_left.style.transform = 'scaleX(1)';
  }
  function hideRight() {
      right_panel.style.display = 'none';
      img_right.style.transform = 'scaleX(-1)';
  }
  function revealRight() {
      right_panel.style.display = 'flex';
      img_right.style.transform = 'scaleX(1)';
  }
  function updateBarStatus(){
    console.log(bar_status);
    sessionStorage.setItem('bar status', bar_status);
  }

  if(bar_status.length == 0){
    revealLeft();
    revealRight();
  }
  else if(bar_status == 1){
    hideLeft();
  }
  else if(bar_status == 2){
    hideRight();
  }
  else if(bar_status == 3){
    hideLeft();
    hideRight();
  }

  
  const hide_left_panel  = document.getElementById('hide-left-panel');
  hide_left_panel.addEventListener('click', () => {

    if (left_panel.style.display !== 'none') {
      hideLeft();
      bar_status += 1;
      updateBarStatus();
    }
    else {
      revealLeft();
      bar_status -= 1;
      updateBarStatus();
    }
  });

  const hide_right_panel = document.getElementById('hide-right-panel');
  hide_right_panel.addEventListener('click', () => {

    if (right_panel.style.display !== 'none') {
      hideRight();
      bar_status += 2;
      updateBarStatus();
    }
    else {
      revealRight();
      bar_status -= 2;
      updateBarStatus();
    }
  });
</script>